<h1 class="pagination-centered"> Todo List </h1>

<div class="row-fluid">
  <div class="span4 offset4"> 
    <div class="app">
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="form"></div>
</div>
